.ArticleOverview {
	position: relative;
	width: 600px;
	height: auto;
	left: 50%;
	margin-left: -300px;
}

.ArticleList {
	.ArticleItem {
		position: relative;
		border: solid #eee 1px;
		padding: 10px 10px;
		margin: 5px;
		width: 600px;
		height: 40px;
		display: block;
		color: black;
		
		.ArticleTitle {
			position: relative;
			float: left;
			width: 80%;
			font-size: 18px;
			line-height: 20px;
		}

		.ArticleAuthor {
			position: relative;
			float: left;
			width: 20%;
			font-size: 14px;
			line-height: 20px;
		}
	}
}

.ArticleList {
	.ArticleActivity {
		position: relative;
		font-style: sans-serif;
		padding: 1em 0 1em 0;
		border-bottom: 1px solid #f1f1f1;
		width: 600px;
		font-weight: normal;
		display: block;
		color: black;
		
		.ArticleAuthor {
			position: relative;
			text-decoration: none;
			color: $MU_Blue;
			font-size: 13px;
			line-height: 14px;

			&:hover {
				text-decoration: underline;
			}
		}

		.ArticleAction {
			position: relative;
			margin: 5px;
			color: $MU_DarkGray;
			font-size: 13px;
			line-height: 14px;
		}

		.ArticleTitle {
			position: relative;
			text-decoration: none;
			color: $MU_Blue;
			font-size: 13px;
			line-height: 14px;

			&:hover {
				text-decoration: underline;
			}
		}

		.ArticleTime {
			position: relative;
			margin: 5px;
			color: $MU_Gray;
			font-size: 13px;
			line-height: 14px;
		}

		.ArticleTags {
			position: absolute;
			right: 0px;
			top: 12px;

			.ArticleTag {
				position: relative;
				display: inline-block;
				margin: 0px 2px;
				color: $MU_Gray;
				font-size: 12px;
				line-height: 14px;
				border: #eee 1px solid;
				padding: 4px 10px;
				border-radius: 5px;
			}
		}
	}
}