.ArticleContent {
	position: relative;
	max-width: 880px;
	height: auto;
	padding: 40px 0px 20px;
	background-color: $CommonBackgroundColor;
	left: 50%;
	margin-left: -440px;

	.ArticleControl {
		position: absolute;
		right: -60px;
		top: 90px;

        i {
            color: $IconColor;
        }
	}

	.ArticlePage{
		.ArticleTitle{
			position: relative;
			font-family: $MU_Font;
			font-size: 2.2em;
			font-weight: bold;
			padding: 0px 0px 10px 2px;
			border-bottom: solid $ItemBorderColor 1px;
			line-height: 1.2;
		}
		.markdown-body{
			text-align: left;
			margin-top: 5px;
			position: relative;
			overflow: auto;
			padding: 40px;
			border: 1px solid $ItemBorderColor;
			border-radius: 5px;
		}

		.ArticleFooter {
			display: none;
		}
	}

}

.ArticleLoading {
	position: fixed;
	width: 200px;
	height: 200px;
	top: 30%;
	left: 50%;
	margin-left: -100px;
}

.ArticleSlideShow{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	.ArticleControl {
		position: absolute;
		right: 10px;
		top: 30px;
	}
	
	.ArticlePage{
		position: absolute;
		top: 50px;
		bottom: 0px;
		right: 0px;
		left: 0px;

		.ArticleTitle{
			display: none;
		}

		.markdown-body{
			text-align: left;
			margin-top: 5px;
			position: absolute;
			top: 0px;
			bottom: 50px;
			right: 0px;
			left: 0px;
			overflow-y: auto;
			padding: 40px 50px 0px 50px;

			h1, h2 {
				border-bottom: 1px solid $ItemBorderColor;
				color: #28637F;
			}

			pre {
				font-size: 100%;
			}

			img {
				position: relative;
				left: 50%;
				background-color: #000;
				width: 80%;
				-webkit-transform: translateX(-50%);
			}
		}



		.ArticleFooter {
			font-family: $FontFamily;
			font-size: 14px;
			font-weight: bold;
			position: absolute;
			border-top: solid 1px $ItemBorderColor;
			height: 50px;
			bottom: 0px;
			width: 100%;

			.PageInfo {
				position: absolute;
				width: 100px;
				top: 20px;
				left: 50%;
				margin-left: -50px;
			}

			.Author {
				position: absolute;
				top: 10px;
				right: 20px;
			}

			.Department {
				position: absolute;
				top: 30px;
				right: 20px;
			}
		}
	}
}



.ArticleControl {
	.ArticleEdit {
		position: relative;
		color: $MarjoyTextColor;
		font-family: $MU_Font;
		font-size: 16px;
		line-height: 16px;
		text-decoration: none;
		margin-right: 5px;
		cursor: pointer;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

.ArticleEditor {
	position: relative;
	max-width: 880px;
	height: auto;
	padding: 40px 0px;
	background-color: $CommonBackgroundColor;
	left: 50%;
	margin-left: -440px;

	.ArticleTitle{
		position: relative;
		font-family: $FontFamily;
		font-size: 2.2em;
		font-weight: bold;
		padding: 0px 0px 10px 2px;
		line-height: 1.2;
	}

	.ArticleText {
		position: relative;
		resize : none;
		width: 860px;
		height: 600px;
		border: solid $ItemBorderColor 1px;
		border-radius: 3px;
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
		background-color: $EditerBackgroundColor;
		word-break: break-word;
		white-space: pre-wrap;
		padding: 10px;
		overflow-y: auto;
		overflow-x: hidden;
	}

}

.ArticleUpload {
	display: none;
}