.ArticleOverview {
	position: relative;
	width: 600px;
	height: auto;
	margin: 0 auto;
}

.ArticleList {
	.ArticleItem {
		position: relative;
		border: solid $ItemBorderColor 1px;
		padding: 10px 10px;
		margin: 5px;
		width: 600px;
		height: 40px;
		display: block;
		color: black;
		
		.ArticleTitle {
			position: relative;
			float: left;
			width: 80%;
			font-size: 18px;
			line-height: 20px;
		}

		.ArticleAuthor {
			position: relative;
			float: left;
			width: 20%;
			font-size: 14px;
			line-height: 20px;
		}
	}
}

.ArticleList {
	.ArticleActivity {
		position: relative;
		font-family: $FontFamily;
		padding: 10px 0;
		border-bottom: 1px solid $ItemBorderColor;
		width: 600px;
		font-weight: normal;
		display: block;
		color: black;
		
		.ArticleAuthor {
			position: relative;
			text-decoration: none;
			color: $LinkedTextColor;
			font-size: 13px;
			line-height: 14px;

			&:hover {
				text-decoration: underline;
			}
		}

		.ArticleAction {
			position: relative;
			margin: 5px;
			color: $MarjoyTextColor;
			font-size: 13px;
			line-height: 14px;
		}

		.ArticleTitle {
			position: relative;
			text-decoration: none;
			color: $LinkedTextColor;
			font-size: 13px;
			line-height: 14px;

			&:hover {
				text-decoration: underline;
			}
		}

		.ArticleTime {
			position: relative;
			margin: 5px;
			color: $LittleTextColor;
			font-size: 10px;
			line-height: 14px;
		}

		.ArticleTags {
			position: absolute;
			right: 0px;
			top: 12px;

			.ArticleTag {
				position: relative;
				display: inline-block;
				margin: 0px 2px;
				font-size: 12px;
				line-height: 14px;
				border: $ItemBorderColor 1px solid;
				padding: 4px 10px;
				border-radius: 5px;
                background-color: $MarjoyBackgroundColor;
                color: #fff;
			}
		}
	}
}

.ArticleList {
    .btn-group {
        position: absolute;
        right: 0px;
        bottom: -40px;
    }
}