$DefaultColor: #eee;

.page{
	background-color: $DefaultColor;
}

.container{
	position: absolute;
	overflow-y: scroll;
	top: 25px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
    -webkit-border-radius: 6ex;
}

::-webkit-scrollbar-corner {
    background: #fff;
}

.Button {
	margin: 10px 5px 0px 0px;
	position: relative;
	display: inline-block;
	padding: 3px 16px;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	color: #fff;
	cursor: pointer;
	background-color: #60b044;
	background-image: linear-gradient(#8add6d, #60b044);
	border: 1px solid #5ca941;
	border-radius: 3px;

	&:hover {
		background-color: #569e3d;
		border-color: #4a993e;
		background-image: linear-gradient(#79d858, #569e3d);
	}
}