.CategoryMap {
	position: relative;
	width: 600px;
	height: auto;
	left: 50%;
	margin-left: -300px;

	.CategoryGroup {
		position: relative;
		margin: 20px 0px;
		width: 100%;
		height: auto;

		.CategoryGroupName {
			line-height: 20px;
			font-size: 20px;
			height: 25px;
			margin: 0px 25px 0px 10px;
			border-bottom: #ccc 1px solid;
			color: $MU_DarkGray;
			font-weight: bolder;
		}

		.CategoryItem {
			position: relative;
			display: inline-block;
			border: 1px #eee solid;
			margin: 10px 12px 0px 12px;
			width: 120px;
			height: 26px;
			line-height: 16px;
			font-size: 16px;
			color: $MU_DarkGray;
			font-style: sans-serif;
			cursor: pointer;

			&:hover {
				background-color: #eee;
				border: 1px #ddd solid;
			}

			.name {
				position: absolute;
				padding: 5px 5px;
				left: 0px;
			}

			.count {
				position: absolute;
				padding: 5px 5px;
				right: 0px;
			}
		}
	}
}