.categoryList {
	position: absolute;
	top: 0px;
	left: -250px;
	height: auto;
	width: 200px;
	border: 1px solid #eee;
	border-bottom: 0px;

	.category {
		position: relative;
		height: 30px;
		border-bottom: 1px solid #eee;
		padding: 0px 10px;
		cursor: pointer;

		&:hover {
            color: $MU_DarkGray;
			background-color: #eee;
		}

		span {
			line-height: 20px;
			font-size: 16px;
			padding: 5px 10px;
			color: $MU_DarkGray;
			font-style: sans-serif;
		}

		.name {
			position: absolute;
			left: 0px;
		}

		.count {
			position: absolute;
			right: 0px;
		}
	}

	.active {
		background-color: $MU_SkyBlue;
        
        span {
            color: #fff;
        }
	}
}