.ContentSetting {
	position: relative;
	width: 600px;
	height: auto;
	padding: 40px 0px 20px;
	background-color: $CommonBackgroundColor;
	left: 50%;
	margin-left: -300px;
	

	.Section
	{
		padding: 30px 0px 5px 0px;
		border-bottom: $ItemBorderColor solid 1px;
		font-family: $FontFamily;

		.Title {
			color:  $TitleTextColor;
			font-size: 20px;
			font-weight: bold;
			line-height: 30px;
		}

		.Description {
			color: $MarjoyTextColor;
			font-size: 14px;
			line-height: 20px;
		}

		input[type="text"] {
			position: relative;
			font-family: $FontFamily;
			font-size: 16px;
			font-weight: bold;
			width: 450px;
			padding: 3px 5px;
			border: solid $ItemBorderColor 1px;
			border-radius: 3px;
			box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
			background-color: $EditerBackgroundColor;
			line-height: 1.4;
		}

		.ItemSection {
			height: 50px;
			padding: 15px 0px 5px 0px;

			.Action {
				position: relative;
				display: inline-block;
				float: left;
				height: 50px;
				width: 30px;
			}

			.Image {
				position: relative;
				display: inline-block;
				float: left;
				height: 50px;
				width: 50px;
			}

			.ItemDescription {
				position: relative;
				display: inline-block;
				height: 50px;
				width: auto;

				.MainDescription {
					color: $TitleTextColor;
					font-size: 18px;
					line-height: 20px;
				}

				.SubDescription {
					color: $MarjoyTextColor;
					font-size: 12px;
					line-height: 14px;
				}
			}
		}
	}	
}
