$MU_Blue: #0077c8;
$MU_OceanBlue: #003c64;
$MU_SeaBlue: #00a7e0;
$MU_SkyBlue: #45b4ff;
$MU_Green: #629d37;
$MU_Red: #c00000;
$MU_Yellow: #ffcf01;
$MU_Orange: #ee7623;

$MU_Black: #2c2c2e;
$MU_DarkGray: #58595b;
$MU_Gray: #9a9b9d;
$MU_Font: '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;

$TitleTextColor: $MU_Black;
$MarjoyTextColor: $MU_DarkGray;
$LittleTextColor: $MU_Gray;
$LinkedTextColor: $MU_Blue;

$FontFamily:     $MU_Font;
$IconColor:      $MU_OceanBlue;
$ItemBorderColor: #eee;

$MarjoyBackgroundColor: $MU_Blue;
$SecondBackgroundColor: $MU_SeaBlue;
$CommonBackgroundColor: #fff;
$EditerBackgroundColor: #fafafa;

$ActivedBackgroundColor:$MU_Blue;
$HoverTextColor:       #fff;
$HoverBackgroundColor:  $MU_SkyBlue;
