.MemberList {
	position: relative;
    margin: 0 auto;
	margin-top: 10px;
    width: 990px;
    @media screen and (min-width: 700px) and (max-width: 1000px){
        width: 660px;
    }

    @media screen and (max-width: 700px){
        width: 330px;
    }

	.MemberBox {
		width: 320px;
        margin: 2px 5px;
		height: auto;
		float: left;
		padding: 10px;
		height: 130px;
		cursor: pointer;
        border-radius: 10px;
        border: $ItemBorderColor 1px solid;
        font-family: $FontFamily;

		&:hover {
			background-color: $HoverBackgroundColor;
			color: $HoverTextColor;
            .memberInfo {
                .primaryText {
                    color: $HoverTextColor;
                }
                .secondaryText {
                    color: $HoverTextColor;
                }
            }

            .tagInfo {
                .tagText {
                    span {
                        color: $HoverTextColor;
                    }
                }
            }
		}

		.image {
			position: relative;
			width: 60px;
			height: 80px;
			display: inline-block;
			float: left;

			img {
				height: 80px;
				border-radius: 5px;
				border: 1px $ItemBorderColor solid;
			}
		}

		.memberInfo {
			font-family: $FontFamily;
			height: 80px;
			line-height: 25px;
			padding: 5px 0px 0px 10px;
			display: inline-block;
			.primaryText {
				color: $TitleTextColor;
				font-size: 16px;
			}

			.secondaryText {
				color: $LittleTextColor;
				font-size: 14px;
			}
		}

		.tagInfo {
			.tagText {
				position: relative;
				height: 30px;
				border: 1px solid $ItemBorderColor;
				padding: 0px 2px;
				width: 90px;
				margin-right: 3px;
                margin-top: 3px;
				border-radius: 5px;
				display: inline-block;
				float: left;

				span {
					line-height: 20px;
					font-size: 11px;
					padding: 5px 5px;
					color: $TitleTextColor;
					font-family: $FontFamily;
				}

				.name {
					position: absolute;
					left: 0px;
				}

				.count {
					position: absolute;
					right: 0px;
				}
			}
		}
	}
}