.MemberList {
	position: relative;
    margin: 0 auto;
	margin-top: 10px;
    width: 990px;
    @media screen and (min-width: 700px) and (max-width: 1000px){
        width: 660px;
    }

    @media screen and (max-width: 700px){
        width: 330px;
    }

    .MemberBox {
        width: 320px;
        margin: 2px 5px;
        float: left;
        padding: 10px;
        height: 120px;
        cursor: pointer;
        border-radius: 10px;
        border: $ItemBorderColor 1px solid;
        font-family: $FontFamily;

         &:hover {
            background-color: $HoverBackgroundColor;
            color: $HoverTextColor;

            .tagInfo {
                .tagText {
                    span {
                        color: $HoverTextColor;
                    }
                }
            }
        }
        
        .userCard {
            border: 0px;
            height: auto;
            margin: 0px;
            padding: 0px;
        }

        .tagInfo {
            position: relative;
            display: inline-block;

            .tagText {
                position: relative;
                height: 30px;
                border: 1px solid $ItemBorderColor;
                padding: 0px 2px;
                width: 90px;
                margin-right: 3px;
                margin-top: 3px;
                border-radius: 5px;
                display: inline-block;
                float: left;

                span {
                    line-height: 20px;
                    font-size: 11px;
                    padding: 5px 5px;
                    color: $TitleTextColor;
                    font-family: $FontFamily;
                }

                .name {
                    position: absolute;
                    left: 0px;
                }

                .count {
                    position: absolute;
                    right: 0px;
                }
            }
        }
    }
    
}