.Menu{
	position: fixed;
	height: 40px;
	top: 0px;
	left: 0px;
	right: 0px;
    padding: 3px 10px;
	border-bottom: 1px solid $ItemBorderColor;
	background: $MU_Blue;
	z-index: 9999;
	
    .btn-group {
        position: relative;
        margin-left: calc(100%/2 - 91px);

        @media screen and (max-width: 800px){
            display: none;
        }
    }

    i {
       color: $IconColor;
    }

    .logo {
        position: absolute;
        width: 108px;
        height: 32px;
        background: $MU_Blue url("Micron.png") no-repeat center; 
        background-size: 108px 32px;
        @media screen and (max-width: 800px){
            left: 50%;
            margin-left: -54px;
        }
    }

    
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 4px;
  @media screen and (min-width: 800px){
        display: none;
    }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  background: $MU_OceanBlue;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    padding: 0.8em;
    a {
        color: #b8b7ad;
        padding: 0.8em;

        i {
            color: #b8b7ad;
            width: 20px;
            text-align: center;
        }

        span {
            margin-left: 10px;
        }
    }
}

.bm-menu-wrap {
    top: 0px;
    left: 0px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
  left: 0px;
}