.Menu{
	position: fixed;
	height: 40px;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 0px 0 0px 10px;
	border-bottom: 1px solid $ItemBorderColor;
	background: $MU_Blue;
	z-index: 9999;
	
    .btn-group {
        margin-top: 2px;
    }

    i {
       color: $IconColor;
    }
}