.personalBox {
	position: relative;
	width: 600px;
	height: 150px;
	left: 50%;
	margin-left: -300px;
	border-bottom: 1px solid $ItemBorderColor;

	.image {
		position: relative;
		width: 130px;
		height: 130px;
		margin: 10px;
		float: left;
		display: inline-block;

		img {
			height: 130px;
			border-radius: 20px;
			border: 1px $ItemBorderColor solid;
		}
	}

	.personal {
		position: relative;
		width: 250px;
		height: 150px;
		float: left;
		padding-top: 5px;
		display: inline-block;

		.information {
			font-family: $FontFamily;
			line-height: 16px;
			padding: 10px;

			.primaryText {
				color: $MarjoyTextColor;
				font-size: 16px;
			}

			.secondaryText {
				color: $LittleTextColor;
				font-size: 14px;
			}
		}
	}

	.control {
		position: absolute;
		right: 0px;
		bottom: 20px;

        i {
        color: $IconColor;
        }
	}
}

