.personalBox {
	position: relative;
	width: 800px;
	height: 150px;
	left: 50%;
	margin-left: -400px;

	.image {
		position: relative;
		width: 250px;
		height: 150px;
		float: left;
		display: inline-block;
	}

	.personal {
		position: relative;
		width: 250px;
		height: 150px;
		float: left;
		display: inline-block;

		.information {
			font-family: Roboto,sans-serif;
			line-height: 16px;
			padding: 10px;

			.primaryText {
				color: #444;
				font-size: 16px;
			}

			.secondaryText {
				color: #999;
				font-size: 14px;
			}
		}
	}

	.control {
		
		.controlItem {
			position: relative;
			color: #666;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 12px;
			line-height: 12px;
			margin: 0 10px 0px 2px;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

