.personalBox {
	position: relative;
	width: 600px;
	height: 150px;
	left: 50%;
	margin-left: -300px;

	.image {
		position: relative;
		width: 130px;
		height: 130px;
		margin: 10px;
		float: left;
		display: inline-block;
		border: 1px solid #eee;
		border-radius: 20px;
	}

	.personal {
		position: relative;
		width: 250px;
		height: 150px;
		float: left;
		padding-top: 5px;
		display: inline-block;

		.information {
			font-family: Roboto,sans-serif;
			line-height: 16px;
			padding: 10px;

			.primaryText {
				color: #444;
				font-size: 16px;
			}

			.secondaryText {
				color: #999;
				font-size: 14px;
			}
		}
	}

	.control {
		position: absolute;
		right: 0px;
		bottom: 20px;

		.controlItem {
			position: relative;
			margin: 5px;

			i {
				margin-right: 5px;
			}

			a {
				color: #666;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				font-size: 14px;
				line-height: 14px;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

