.SearchSetting {
	position: relative;
	width: 600px;
	left: 50%;
	margin-left: -300px;

	.Section {
		padding: 50px 0px 10px 0px;
		border-bottom: $ItemBorderColor solid 1px;
		height: auto;
		background-color: $CommonBackgroundColor;
		font-family: $FontFamily;
 		text-align: center;

 		.Title {
			color: $TitleTextColor;
			font-size: 20px;
			font-weight: bold;
			line-height: 30px;
		}

		.Description {
			color: $MarjoyTextColor;
			font-size: 14px;
			line-height: 20px;
		}

		input[type="text"] {
			position: relative;
			font-family: $FontFamily;
			font-size: 16px;
			font-weight: bold;
			width: 300px;
			padding: 3px 5px;
            color: $MarjoyTextColor;
			border: solid $ItemBorderColor 1px;
			border-radius: 3px;
			box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
			background-color: $EditerBackgroundColor;
			line-height: 1.4;
		}

		button {
			height: 30px;
			margin: 0px 5px;
		}

		.Select {
			top: 10px;
			display: inline-block;
			width: 80px;
			height: 30px;
			.Select-control {
				width: 80px;
				height: 30px;
				.Select-value {
					height: 30px;
					line-height: 30px;
					padding: 0px 5px;
				}
				.Select-input {
					height: 30px;
					line-height: 30px;
					padding: 0px 5px;
				}
				.Select-clear-zone {
					display: none;
				}
				.Select-arrow-zone {
					display: none;	
				}
			}
		}

		
	}	
}
